parameters:
    level: 9
    paths:
        - src
        - tests
        - examples/music-catalog/src
        - examples/music-catalog/tests
    tmpDir: .phpstan.cache
    treatPhpDocTypesAsCertain: false
